{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Assessment World</h1>
  <p class="lead">Evalue el nivel de madurez y cumplimiento de su compañía frente a las mejores prácticas de la industria</p>
  <hr class="my-4">
  <p>Con el resultado puede identificar donde es fuerte su compañía y en qué áreas necesita implementar iniciativas de mejoramiento</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cómo funciona?</a>
</div>
{% endblock %}


   